.mobile-sheet-handle {
  display: none;
}

:where(html[data-layout="mobile"]) .mobile-sheet-handle {
  --button-height: 24px;
  display: flex;
  flex: 0 0 auto;
  padding: 4px 8px;
  touch-action: none;
  cursor: grab;
}

.mobile-sheet-handle > span {
  width: 36px;
  height: 3px;
  background: var(--border);
}

.mobile-sheet-handle:active {
  cursor: grabbing;
}

:where(html[data-layout="mobile"]) {
  .mobile-sheet {
    --sheet-duration: 200ms;
    transition: transform var(--sheet-duration) ease-out;
  }

  .mobile-sheet-more {
    display: none;
    visibility: hidden;
  }

  .mobile-sheet:is(.is-expanded, .is-dragging, .is-resizing)
    .mobile-sheet-more {
    display: block;
    visibility: visible;
  }

  .mobile-sheet:is(.is-dragging, .is-resizing) {
    transition: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  :where(html[data-layout="mobile"]) .mobile-sheet {
    --sheet-duration: 0ms;
  }
}
